.AnimalGame-wrapper {
    min-width: 820px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    height: auto;
    border-radius: 12px;
    display: grid;
    grid-auto-rows: auto;
    gap: 1rem;
    padding: 32px;
}

.ModeGame-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.StreakGame-wrapper {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 32px;
    width: 100%;
}

.ChangeMode {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-r);
    padding: 32px;
    display: grid;
    justify-items: center;
    gap: 12px;
}

.ChangeMode-wrapperBtns {
    display: flex;
    justify-content: center;
    padding: 8px 10px;
    border-radius: var(--border-r);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    gap: 20px;
    width: 100%;
}

.ChangeMode-btn {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    width: 100%;
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), border 0.3s ease-out;
    padding: var(--padding-btn);
    border-radius: var(--border-r);
}

.ChangeMode-btn:not(.ChangeMode-btn--active):hover {
    border: var(--border-btn);
    transform: translateY(-4.4px);
    box-shadow: var(--box-s);
}

.ChangeMode-btn--active {
    color: var(--color-txt);
    border: var(--border-btn);
    background-color: antiquewhite;
}

.ResetGame-reset {
    position: absolute;
    top: 12px;
    right: 12px;
    display: grid;
    grid-template-columns: 1fr;
    cursor: pointer;
    padding: 8px;
    border-radius: var(--border-r);
    border: var(--border-btn);
    color: var(--color-txt);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), box-shadow 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.ResetGame-reset:hover {
    transform: translateY(-4.4px);
    box-shadow: var(--box-s);
}

.ResetGame-reset:active {
    transform: translateY(2px);
    box-shadow: none;
}

.AnimalGame-h2 {
    font-size: 1.6rem;
    color: var(--color-txt);
}

.StreakGame-p {
    font-size: 1rem;
    color: var(--color-txt);
}

.StreakGame-number {
    font-size: 2rem;
    color: var(--color-txt);
}

.AnimalGame-options {

    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    gap: 24px;
}

.Option-wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 380px;
    border-radius: var(--border-r);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease-out;
}

.Option-wrapper:hover {
    background-color: rgb(61, 113, 96);
}

.Option-name {
    color: white;
}

.SoundPlay-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-r);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    gap: 40px;
}

.SoundPlay-image {
    width: 200px;
    display: block;
    margin: 0 auto;
}

.SoundPlay-sound {
    color: var(--color-txt);
    border: var(--border-btn);
    background-color: aquamarine;
    cursor: pointer;
    padding: var(--padding-btn);
    border-radius: var(--border-r);
    align-content: center;
    transition: box-shadow 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.SoundPlay-sound:hover {
    box-shadow: var(--box-s);
    transform: translateY(-4px);
}

.SoundPlay-sound:active {
    transform: translateY(2px);
    box-shadow: none;
}